{% extends "base.html" %}

{% load widget_tweaks %}

{% block base_content %}
<main class="max-w-7xl mx-auto mt-10">
<form method="POST">
  {% csrf_token %}
  <!-- security -->
  {% render_field form.title class="text-4xl w-full rounded-md border-2 border-gray-200 focus:ring-1 focus:ring-emerald-500 focus:border-emerald-500 mb-4" placeholder="Write a title for you article"%}

  <div class="flex gap-10 mb-10 items-center">
    {% render_field form.status class="text-xs border-none rounded-sm uppercase" %}

    {% block article_stats %}

    {% endblock article_stats %}
  </div>

<div class="mb-10" >
  
  {% render_field form.content rows=20 placeholder="There is no content in here" %}
</div>

<div class="mb-10">
  <p class="text-xl font-semibold wb-2">{{ form.twitter_post.label}}</p>
  {% render_field form.twitter_post rows=10 class="w-full" %}
</div>
  <!-- to display the form -->
  {% block buttons %}
  {%endblock buttons%}
</form>
</main>

{% endblock base_content %} {% block page_js %}
<script>
  // The EasyMDE was enabled by writing the cdn code in base.html in the header section
  const contentMarkdown = new EasyMDE({
    element: document.getElementById("id_content"),
    spellChecker: false,
    status: false,
    toolbar: false,
    forceSync: true,
  });
</script>
{% endblock page_js %}
